body {
  font-family: var(--body-font-family, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif);
  font-size: var(--body-font-size, 1.8rem);
  font-weight: var(--body-font-weight, 400);
  color: hsla(var(--body-color, #333333));
  text-decoration: none;
}