body {
  font-family: var(--body-font-family, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif);
  font-size: var(--body-font-size, 1.8rem);
  font-weight: var(--body-font-weight, 400);
  color: hsla(var(--body-color, #333333));
  text-decoration: none;
}

h1 {
  margin-bottom: var(--h1-margin-bottom, var(--space-40));
}

h2 {
  margin-bottom: var(--h2-margin-bottom, var(--space-32))
}

p {
  margin-bottom: var(--p-margin-bottom, var(--space-8))
}